.git
.env
**/.env
**/.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.astro
**/.output
**/node_modules
**/dist
**/target
**/logs
**/.DS_Store

services/analytics/data
services/analytics/dbt/.user.yml
services/analytics/dbt/dbt_packages
services/analytics/dbt/target
services/analytics/dbt/logs
apps/showcase/public/data
bin

